KEYSTONE_IMAGE=quay.io/airshipit/keystone:latest
NOVA_IMAGE=quay.io/airshipit/nova:latest
CINDER_IMAGE=quay.io/airshipit/cinder:latest
NEUTRON_IMAGE=quay.io/airshipit/neutron:latest
GLANCE_IMAGE=quay.io/airshipit/glance:latest
